<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login</title>

</head>
    <body>
        <form name='form1' autocomplete="off" method="POST" action="/select_period">
            <div class="form-group">
                <h1>Please scan the barcode on your student ID</h1>
                <input name="input" type="text" class="form-control" id="input1" style="display:none; font-family: 'Merriweather Sans', sans-serif;" autofocus>
            </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>


    </body>
</html>