<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login</title>

</head>
    <body>
        <form name='form1' autocomplete="off" method="POST" action="/select_period">
            <div class="form-group">
                <h1>Please scan the barcode on your student ID</h1>
                <input name="input" type="text" id="input1" style="opacity:0; font-family: 'Merriweather Sans', sans-serif;" autofocus>
            </div>
        </form>


    </body>
</html>