<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <title>Select Period</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body onload="myFunction()">

    <script>
        function myFunction(){
            let pbool = {{pbool|tojson|safe}};
            let pArr = {{pArr|tojson|safe}};
            let maxStudents = {{maxStudents|tojson|safe}};
            for(let i = 0; i < 8; i++) {
                if(pbool[i] == false || pArr[i] >= maxStudents){
                    document.getElementById(i + "").setAttribute("disabled", "disabled");
                }
            }
            setSelected();
        }
        function setSelected() {

            for(let i = 0; i < 8; i++){
                if( document.getElementById(i + "").getAttribute("disabled") !== "disabled"){
                    document.getElementById(i + "").setAttribute("selected", "selected");
                    return;
                }
            }
            //this occurs when all periods are closed:
            alert("The Library is closed today.");
        }
    </script>


    <div style="padding: 0px 50px;">
        <h1>Hello, {{ name }}</h1>
        <form action="/select_teacher" autocomplete="off" method="POST" name="form1">
            <select name="period" class="form-control">
                {% for i in range(8) %}
                <option class="" id="{{ i }}" value="{{ i }}">Period {{i+1}} ({{ maxStudents - pArr[i]}} spot(s) left</option>
                {%  endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



    <!-- Bootstrap required components -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>